.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

h1 {
    margin: 0px;
}

h4 {
    margin: 0px;
}

body {
    margin: 0px;
    text-align: center;
    font-family: 'JetBrains Mono', sans-serif;
}

.library-input {
    margin-bottom: 10px;
}

.card {
    display: grid;
    width: 95vw;
    gap: 10px;
    grid-template-columns: auto minmax(30%, 80%);
    grid-template-rows: 315px auto;
    justify-items: center;
    margin: 0px;
    padding: 20px;
    border: 1px solid black;
    background-color: bisque;
}

.card > img {
    width: 200px;
}

.sub-card {
    display: grid;
    max-width: 80%;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.title {
    font-size: 2em;
    text-align: center;
    color: black;
}

.authors {
    font-size: 1.5em;
    text-align: center;
    color: blue;
}

.library {
    font-size: 1.2em;
    text-align: center;
    color: blue;
}

.price {
    font-size: 1.5em;
    font-weight: 900;
    background-color: lightgrey;
}